       body {
           
           font-family: 'Roboto', sans-serif;
           background: #ffffff;
           color:#853135;
           text-align: center;
           transition: 0.3s;
       }

       /* Navbar Section */
       nav {
           padding: 10;
           margin: 10;
           display: flex;
           justify-content: space-around;
           align-items: center;
           background-color:#78cafa3b;
           border-radius: 12px;
       }

       .right ul {
           display: flex;
           gap: 34px;
       }

       .right ul li {
           list-style: none;
       }

       .right ul li a {
           color: #4377e6;
           text-decoration-line: none;
       }

       .right ul li a:hover {
           color:#e100ff;
       }

       .navbar a {
           text-decoration: none;
           font-family: 'Poppins', sans-serif;
           font-weight: 500;
           position: relative;
           display: inline-block;
           /* IMPORTANT for transform */
           transition: color 0.3s ease, transform 0.3s ease;
       }

       .navbar a:hover {
           color: #e100ff;
           transform: scale(1.2);
       }


       /* Footer Section */
       footer {
           margin-top: 40px;
           padding: 20px;
           color: rgba(79, 80, 63, 0.479);
           font-size: 14px;
           text-align: center;
       }

       h2 {
           color: #1C1C1C;
       }

       h2,
       h3,
       h4,
       h5,
       h6 {
           font-family: 'roboto', sans-serif;
       }
