       body {
           margin: 0;
           font-family: 'Roboto', sans-serif;
           background: #FAF3E1;
           color:#d7d7d7;
           text-align: center;
           transition: 0.3s;
       }

       /* Navbar Section */
       nav {
           padding: 0;
           margin: 0;
           display: flex;
           justify-content: space-around;
           align-items: center;
           background-color:#222222;
           color: #ffffff;
           font-weight: bold;
       }

       .right ul {
           display: flex;
           gap: 34px;
       }

       .right ul li {
           list-style: none;
       }

       .right ul li a {
           color: #F5E7C6;
           text-decoration-line: none;
       }

       .right ul li a:hover {
           color: #FA8112;
       }

       .navbar a {
           text-decoration: none;
           color: F5E7C6;
           font-family: 'Poppins', sans-serif;
           font-weight: 500;
           position: relative;
           display: inline-block;
           /* IMPORTANT for transform */
           transition: color 0.3s ease, transform 0.3s ease;
       }

       .navbar a:hover {
           color: #FE7743;
           transform: scale(1.12);
       }


       footer {
           margin-top: 40px;
           padding: 20px;
           color: rgba(79, 80, 63, 0.479);
           font-size: 14px;
           text-align: center;
       }

       h2 {
           color: hsl(192, 100%, 78%);
       }

       h2,
       h3,
       h4,
       h5,
       h6 {
           font-family: 'roboto', sans-serif;
       }
